.Input_Wrapper {
  width: 100%;
  position: relative;
}
.Input_Wrapper input[type="text"] {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 0.8rem 1.3rem 0.8rem 2.3rem;
  border-radius: 0.4em;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: var(--card-bg);
  color: var(--font-color);
}
.Input_Check {
  height: 1rem;
  width: 1rem;
  position: absolute;
  margin: 0.8rem;
  border-radius: 50%;
  border: 1px solid var(--check-circle);
}
.Input_Check input {
  display: none;
}
.Input_Check.active {
  background: url(../../assets/icon-check.svg) no-repeat center,
    linear-gradient(313deg, #7761e0, #5393e2);
}
